body {
    background-color:#5F021F;
    color: #5F021F;
  }
  
  .rounded-corners {
    border-radius: 20px;
    border-color: #d9d9d9;
   
  }
  
  h1 {
    color:white !important; 
    margin:20px;
  }
  
  .button {
    background-color: #e6e6e6 !important;
    border-color: #d9d9d9;
    color: #5F021F
  }
  
  .button:hover {
    color: #e6e6e6 !important ;
    background-color: #5F021F !important;
    border-color: #0062cc !important;
  }
  
  .button:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(228, 152, 226, 0.5);}