body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  
    monospace;
}

html, body {
  width: 100%;
  height: 100%;
  background: skyblue ;
  background-image: url('https://images.pexels.com/photos/2350471/pexels-photo-2350471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') !important; 
  background-repeat: no-repeat;
  /* background-position: top;
  z-index: -2; */
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


